*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.first, .second, .third {
  color: crimson;
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  font-family: Arial, Helvetica, sans-serif; }

.second {
  color: cadetblue; }

.third {
  color: blue; }

.fourth, .fifth {
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  font-family: Arial, Helvetica, sans-serif; }

.fourth {
  color: cadetblue; }

.fifth {
  color: blue; }

.fourth {
  padding: 100px;
  padding: 101px;
  padding: 100px;
  padding: 101px;
  padding: 500px;
  padding: 50px;
  padding: 20%;
  padding: 1000%;
  padding: true;
  padding: false;
  padding: true;
  padding: 0.0466568498;
  padding: 91;
  padding: "px";
  padding: "em*px";
  padding: false;
  padding: true; }

.fifth {
  font-family: "arial";
  font-family: arial;
  font-family: ARIAL;
  font-family: arial;
  font-family: 5;
  font-family: 3;
  font-family: arialMono;
  font-family: ria;
  font-family: r;
  font-family: uft22qmr2; }

.third {
  background-color: #4c7e80;
  background-color: #7fb1b3;
  background-color: #5f93a0;
  background-color: #52aaad;
  background-color: #6c9293;
  background-color: #d02246;
  background-color: rgba(220, 20, 60, 0.5);
  background-color: 220;
  background-color: 20;
  background-color: 60;
  background-color: 348deg;
  background-color: 83.3333333333%;
  background-color: 47.0588235294%;
  background-color: 1; }

header {
  height: 30vh; }
  header h1 {
    height: 22vh;
    color: crimson;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center; }
  header nav {
    height: 8vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center; }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      color: blue;
      margin-left: 20px; }
      header nav ul li a {
        text-decoration: none;
        background-color: blue;
        padding: 5px;
        color: crimson;
        transition: 0.5s; }
        header nav ul li a:hover {
          cursor: pointer;
          color: blue;
          background-color: cadetblue; }

main {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 65vh; }
  main .content {
    padding: 30px 70px;
    background-color: cadetblue; }
    main .content p {
      color: blue; }
      main .content p::selection {
        background-color: blue;
        color: crimson; }
    main .content ul {
      margin: 30px 25px; }
      main .content ul li {
        list-style-type: circle; }

aside {
  padding: 30px;
  background-color: blue; }
  aside p {
    transition: 0.5s;
    padding: 10px;
    color: crimson; }
    aside p:hover {
      cursor: pointer;
      color: blue;
      background-color: cadetblue; }

footer {
  height: 5vh;
  background-color: crimson;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  footer p {
    padding-right: 100px;
    color: blue; }

/*# sourceMappingURL=style.css.map */
