@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
}

@mixin hover() {
  cursor: pointer;
  color: $secondary-color;
  background-color: $another-color;
}

@mixin flex-item($value: center) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

@mixin box-shadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
}

// extend does not support pera meters

.first {
  color: red;
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  font-family: $main-font;
}

.second {
  color: green;
  @extend .first;
}

.third {
  color: blue;
  @extend .first;
}

// second way

%main {
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  font-family: $main-font;
}

.fourth {
  color: green;
  @extend %main;
}

.fifth {
  color: blue;
  @extend %main;
}

//  Number Functions

.fourth {
  padding: abs(-100px);
  padding: ceil(100.5px);
  padding: floor(100.5px);
  padding: round(100.5px);
  padding: max(100.5px, 500px, 50px);
  padding: min(100.5px, 500px, 50px);
  padding: percentage(0.2);
  padding: percentage(100px / 10px);
  padding: comparable(2px, 1px);
  padding: comparable(0.5em, 1px);
  padding: comparable(0.5cm, 1mm);
  padding: random();
  padding: random(100);
  padding: unit(100px);
  padding: unit(100px * 2em);
  padding: unitless(100px);
  padding: unitless(100);
}

// String Functions

.fifth {
  font-family: quote(arial);
  font-family: unquote("arial");
  font-family: to-upper-case(arial);
  font-family: to-lower-case(Arial);
  font-family: str-length(Arial);
  font-family: str-index(arial, "i");
  font-family: str-insert(arial, Mono, 6);
  font-family: str-slice(arial, 2, 4);
  font-family: str-slice(arial, 2, -4);
  font-family: unique-id();
}

@import "./header";
@import "./content";
@import "./sidebar";
@import "./footer";
