@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
}

@import "./header";
@import "./content";
@import "./sidebar";
@import "./footer";
